<div class="container">

    <form (ngSubmit)="editProduct()" #productForm="ngForm">

        <div class="form-group">
            <label for="productName">Product name:</label>
            <input type="text" class="form-control" id="productName" name="productName" #productName="ngModel"
                [(ngModel)]="product.name" required minlength="3">

            <div *ngIf="productName.touched && productName.errors">
                <div class="alert alert-danger" *ngIf="productName.errors.required">
                    First name is required
                </div>
                <div class="alert alert-danger" *ngIf="productName.errors.minlength">
                   a product name is required
                </div>
            </div>

        </div>
        <div class="form-group">
            <label for="productCategory">Product category:</label>
            <input type="text" class="form-control" id="productCategory" name="productCategory"
                #productCategory="ngModel" [(ngModel)]="product.category" required minlength="3">
            <div *ngIf="productCategory.touched && productCategory.errors">
                <div class="alert alert-danger" *ngIf="productCategory.errors.required">
                    First name is required
                </div>
                <div class="alert alert-danger" *ngIf="productCategory.errors.minlength">
                   a product category is required
                </div>
            </div>
        </div>


        <div class="form-group">
            <label for="productPrice">Product price:</label>
            <input type="number" class="form-control" id="productPrice" name="productPrice" #productPrice="ngModel"
                [(ngModel)]="product.price" required max="100" min="1">
            <div *ngIf="productPrice.errors">
                <div class="alert alert-danger" *ngIf="productPrice.errors">
                   a price is required
                </div>
                <div class="alert alert-danger" *ngIf="productPrice.errors">
                   the price must be greater than 0
                </div>
            </div>
        </div>


        <button [disabled]="!productForm.form.valid"   type="submit" class="btn btn-success">Update Product</button>

    </form>
</div>